extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
      .col-xs-12.col-sm-4
      p.lead
        |  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Checkout the reviews and know better!!!
      
        
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Facebook
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 100m
          p.address created by  Mark Zuckerberg 
          p
            span.label.label-warning News Feed
            | &nbsp;
            span.label.label-warning Messages
            | &nbsp;
            span.label.label-warning Comments
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location1') Whatsapp
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address Created by Jan Koum, Brian Acton
          p
            span.label.label-warning Messaging
            | &nbsp;
            span.label.label-warning Voice calls
            | &nbsp;
            span.label.label-warning Video calls
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Twitter
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Created by  Jack Dorsey, Evan Williams, Biz Stone, Noah Glass
          p
            span.label.label-warning Tweets
            | &nbsp;
            span.label.label-warning Polls
            | &nbsp;
    //- .col-xs-12.col-sm-4
    //-   p.lead
    //-     | Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.